.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
}
:root {
  --title-link-color: #404bbf;
  --title-first-color: #2e2f42;
  --text-color: #434455;
}
.title-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.logo-text {
  background: #434455;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.top-employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* ================= COMPONENTS ================= */
.web-logo {
  color: #4d5ae5;
}
.logo-header-studio {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-first-color);
}
/* ================= Header ================= */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-first-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--title-link-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--title-link-color);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--title-link-color);
}
.contact-mail {
  color: var(--text-color);
}
.contact-tel {
  color: var(--text-color);
}
.contact-address {
  font-style: normal;
}
/* =================== Hero =================== */
.hero {
  background: #2e2f42
  
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.style-btn {
  font-family: "Roboto", sans-serif
}
.modal-btn {
  cursor: pointer;
  background: #4d5ae5;
  color: #ffffff;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
}
/* =================== to success =================== */
.skills-item-top {
  color: var(--title-first-color);
}
.skills-text {
  color: var(--text-color);
}
/* =================== What are we doing =================== */
.about-item-text {
  color: var(--title-first-color);
}
/* =================== Our Team =================== */
.my-team {
  background-color: #F4F4FD;
}
.title-team {
  color: var(--title-first-color);
}
.name-employee {
  color: var(--title-first-color);
}
.position-employee {
  color: var(--text-color);
}
.team-list {
  background-color: #FFFFFF;
}
/* =================== Footer =================== */
.text-footer {
  color: #f4f4fd;
}
.logo-studio {
  color: #f4f4fd;   
}
.logo-text {
  background-color: #2e2f42;
}
/* =================== Portfolio =================== */
.portfolio-button{
  font-family: "Roboto", sans-serif
  
}
.navigatiom-button {
  background: #f4f4fd;
  color: #4d5ae5;
}
.portfolio-button:hover,
.portfolio-button:focus {
  cursor: pointer;
  background: #404bbf;
  color: #ffffff;
}
.img-first-text {
  line-height: 1.11;
color: var(--title-first-color)
}
.text-second {
  color: var(--text-color)
}